<div class="grid">
    <div class="col--9-12">
        <label class="pill pill--gray-light  u-spacer--tiny" data-content="nog geen data content" data-placement="left" data-timer="218" data-toggle="tooltip" title="nog geen title">
            Dossiernummer: {{model.dossiernummer}}
        </label>
        <label class="pill pill--gray-light u-spacer--tiny" data-content="nog geen data content" data-placement="left" data-timer="218" data-toggle="tooltip" title="nog geen title">
            Reactietermijn: {{model.niceFormatReactietermijn}}
        </label>
        <h2 class="h3">Opvraging in kader van een toezichtsdossier</h2>
    </div>
    <div class="col--3-12 u-align--right">
        <a  {{action "closeVenster"}} class="link--icon--close">
        <span class="u-visually-hidden">Venster sluiten</span>
        </a>
    </div>
    </div>
    <div class="grid u-spacer--small">
    {{#unless isNewReport}}
        <div class="col--12-12">
        <div class="description-data__label"><span style="color:red">I don't know what to put here</span></div>
    </div>
    {{/unless}}
    {{yield}}
</div>
