{{berichtencentrum/bericht-view-header model=model}}
<div class="container-flex--scroll u-padding--round--small">
    <div class="form__row">
        <div class="form__label">
            <label for="bestanden"><strong>{{model.failSafeTitle}}</strong></label>
            <div style="float:right; color:light-gray; text-align:right">
                <p style="color:lightgray">Aangekomen: {{model.niceFormatAangekomenDatum}}</p>
                <p style="color:lightgray">Verzonden: {{model.niceFormatVerzondenDatum}}</p>
            </div>
        </div>
    </div>
    <div>
        {{model.messageBody}}
        {{!--
            {{vo-mu-file-card file=null onDelete=(action "deleteFile") active=(not report.status.isVerstuurd)}}
        --}}
    </div>
</div>


