@import 'ember-vo-webuniversum-data-table';
@import 'ember-power-select';

.vo-header-widget {
  min-height: 45px;
}

/* Preloader */
.loader-wrapper {
  padding: 25px;
}

.temporary-select__wrapper.temporary-select__wrapper--block.u-spacer--bottom--small.ember-view + .form__error{
  margin-top: -3%;
  margin-bottom: 3%;
}

.date-picker-mandataris-edit .datepicker {
  width: 100%;
}

/* Data table */

.data-table tbody a {
  color: #3184d6;
  text-decoration: underline;
}

.data-table__actions {
  padding: 0;
}

/* Document status pills */
.pill {
  &[resource^="http://data.lblod.info/document-statuses/"] {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0;
    position: relative;
    white-space: nowrap;
    padding-right: 10px;

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: -1px;
      right: -1px;
      bottom: -1px;
      width: 5px;
    }
  }
  &[resource="http://data.lblod.info/document-statuses/concept"]::after {
    background-color: #B2B2B2;
  }
  &[resource="http://data.lblod.info/document-statuses/goedgekeurd"]::after {
    background-color: #333333;
  }
  &[resource="http://data.lblod.info/document-statuses/opmerking"]::after {
    background-color: #FEE539;
  }
  &[resource="http://data.lblod.info/document-statuses/verstuurd"]::after {
    background-color: #0F68C9
  }
  &[resource="http://data.lblod.info/document-statuses/prullenbak"]::after {
    background-color: #B2B2B2;
  }
}


/* ==========================================================================
  Style overwrite ember-power-select
 ========================================================================== */

/* basic colors and sizing of dropdown */

.ember-power-select-dropdown.ember-basic-dropdown-content--below,
.ember-power-select-dropdown.ember-basic-dropdown-content--above,
.ember-power-select-dropdown.ember-basic-dropdown-content--in-place,
.ember-power-select-trigger {
  border-radius: 0;
  border-color: #cbd2da;
  color: #333;
}

.ember-basic-dropdown-content.ember-power-select-dropdown.ember-basic-dropdown-content--below {
  box-shadow: 0 2px 2px rgba(165, 179, 194, 0.5);
}

.ember-power-select-trigger {
  line-height: 3.5rem;
  padding: 0 1rem;
  overflow: hidden;
  position: relative;
}

.full-width { width: 100%; }

.step .ember-power-select-trigger {
  padding-right: 4.5rem;
  height: 4.5rem;
  font-size: 1.6rem;
  max-width: 250px;
  width: 100%;
  display: block;
}

.ember-power-select-trigger.ember-basic-dropdown-trigger.ember-view.ember-power-select-trigger--active {
  border-color: #cbd2da;
  box-shadow: none;
}

.ember-power-select-trigger.ember-basic-dropdown-trigger.ember-view.ember-power-select-trigger--active:focus {
  outline: none;
}

.ember-power-select-search-input {
 font-family: flanders-sans,sans-serif;
}

.ember-power-select-search-input:focus {
  outline: none;
  border-color: #ffc515;
  box-shadow: inset 0 0 0 1px #ffc515;
}

/* Select options
 ========================================================================== */
.ember-power-select-option.ember-power-select-option--loading-message,
.ember-power-select-option.ember-power-select-option--no-matches-message,
.ember-power-select-option.ember-power-select-option--search-message {
  padding-left: 0.5rem;
  color: #999999;
}

.ember-power-select-option {
  padding: 0.5rem 0.5rem 0.5rem 3rem;
  position: relative;
  line-height: 1.4;
}

.ember-power-select-option[aria-selected="true"],
.ember-power-select-option[aria-current="true"] {
  background-color: #E8EBEE;
  color: #0F68C9;
  text-decoration: underline;

   &:before {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 7px;
    z-index: 2;
    font-family: vlaanderen_iconfont;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    text-decoration: none;
    text-transform: none;
    content: "\E00C";
    color: #0F68C9;
  }
}

.ember-power-select-trigger-multiple-input,
.ember-power-select-placeholder,
.ember-power-select-selected-item {
  font-size: 1.6rem;
  margin-left: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Icon restyle for steps (need to reformat)
 ========================================================================== */

.ember-power-select-trigger .ember-power-select-status-icon:after {
  content: "\E004";
  font-family: vlaanderen_iconfont!important;
  font-size: 1.4rem;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ember-power-select-status-icon {
  display: block;
  border: none;
  width: auto;
  height: auto;
  right: 1rem;
  -webkit-transform: rotate(90deg) !important;
  -ms-transform: rotate(90deg) !important;
  transform: rotate(90deg) !important;
  color: #666;

  display: inline-block;
  transition: all 200ms;
}

.ember-basic-dropdown-trigger[aria-expanded="true"] .ember-power-select-status-icon {
  -webkit-transform: rotate(-90deg) !important;
  -ms-transform: rotate(-90deg) !important;
  transform: rotate(-90deg) !important;
}

.ember-power-select-clear-btn {
  background-color: #E8EBEE;
  border-radius: 100%;
  position: absolute;
  width: 2rem;
  height: 2rem;
  line-height: 1;
  text-align: center;
  top: 0.7rem;
}

/* temporary fix to make sure the first field for selecting the dossier type in toezicht has an extra space below */

.form__row--toezicht-besluit-type-select .ember-power-select-trigger:first-child {
  margin-bottom: 2rem;
}

/* temporary fix to make sure disabled fields look disabled */

textarea[disabled],
input[disabled] {
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.5);
}

/* temporary fix for required fields */
.form__row--required {
  label.form__label,
  .upload__element {
    padding-right: 10rem;
    position: relative;
    display: block;

    &:after {
      content: "Verplicht";
      right: 0;
      position: absolute;
      text-align: right;
      text-transform: uppercase;
      letter-spacing: 1.2px;
      font-size: 1.2rem;
      top: 0.1rem;
      color: #333333;
      background-color: #E8EBEE;
      border-radius: 3px;
      padding: 0.4rem 0.3rem 0.3rem 0.4rem;
      line-height: 1;
    }
  }

  .upload__element:after {
    top: -0.2rem;
    right: -0.2rem;
  }
}

.form__validation-check .form__row--required {
  input,
  textarea,
  .ember-power-select-trigger {
    border-bottom-color: red;
  }

  .upload__element {
    border-color: red;
    background-color: RGBA(249, 22, 40, 0.1);
  }

  .upload__element:after,
  label.form__label:after {
    background-color: red;
    color: white;
  }
}

/* temporary fix for contact cards in webuniversum*/

.contact-card.contact-card--wide {
  .contact-card__data,
  .contact-card__map {
    width: 100%;
  }

  .contact-card__data__title,
  .contact-card__data__content {
    float: none;
    width: 100%;
    display: block;
  }

  .form__label > .form__label {
    margin-right: 0;
  }
}

/* temporary fix for inline required properties */
.form__label > .form__label {
  margin-right: 8rem;
}

.is-required {
  position: relative;

  &:after {
    content: "Verplicht";
    position: absolute;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-size: 1.2rem;
    top: -2.5rem;
    right: 0;
    color: #333333;
    background-color: #E8EBEE;
    border-radius: 3px;
    padding: 0.5rem 0.3rem 0.3rem 0.4rem;
    line-height: 1;
  }
}

.form__row--date .is-required:after {
  top: -2.3rem;
}

.upload.is-required:after {
  top: -0rem;
  right: -0rem;
  border-radius: 0;
  z-index: 4;
}

/* temporary fix for narrower forms */

.form__row--date {
  width: 49%;
  display: inline-block;
}

/* temporary fix to make sure checkbox is aligned correctly */

.form__row--checkbox {
  display: flex;
  flex-direction: row-reverse;

  .form__input {
    flex: 1 0 auto;
  }

  .form__label {
    flex: auto;
  }

  .checkbox {
    margin-right: 0rem;
  }
}

/* temporary fix to highlight errors and required fields */

.alert + .container-flex--scroll .is-required {

  .input-field,
  .ember-power-select-trigger {
    border-bottom-color: red;
  }
}

.alert + .container-flex--scroll .is-required.upload {
  border-color: red;
  background-color: RGBA(249, 22, 40, 0.1);

  &:after {
    background-color: RGBA(249, 22, 40, 1);
    color: white;
  }
}

.alert__icon+.alert__content {
  min-height: 0;
}


// /* CSS for browser warning
//  ========================================================================== */

div.buorg {
  border-color: #CBD2DA;
  box-shadow: none;
  top: 80px;
  width: 500px;
}

div.buorg-pad {
  padding: 2rem;
}

span.buorg-icon {
  display: inline-block;
  margin-bottom: 1rem;
}

span.buorg-mainmsg,
span.buorg-moremsg {
  font-family: "flanders-sans";
}

span.buorg-moremsg {
  line-height: 1.3;
  margin-bottom: 1.5rem;
}

span.buorg-buttons {
  text-align: left;
}

a#buorgpermanent,
a#buorgul,
a#buorgig {
  border-radius: 0;
  box-shadow: none;
  margin-left: 0;
}

a#buorgpermanent,
a#buorgul {
  background-color: #06c;
  border: 1px solid #06c;
}

a#buorgig {
  background-color: white;
  color: RGBA(54, 54, 54, 1.00);
  border: 1px solid #CBD2DA;
}