{{#data-table content=content isLoading=isLoading noDataMessage="Geen mandatarissen gevonden"
   sort=sort page=page size=size class="container-flex--contain data-table--nowrap" as |t|}}
  {{#t.content as |c|}}
    {{#c.header}}
      {{#unless displaySubset}}
        <th class="u-hidden--mobile">Orgaan</th>
      {{/unless}}
      {{th-sortable field='isBestuurlijkeAliasVan.gebruikteVoornaam' currentSorting=sort label='Naam' class="u-hidden-mobile"}}
      {{th-sortable field='isBestuurlijkeAliasVan.achternaam' currentSorting=sort label='Familienaam'}}
      {{#unless displaySubset}}
        {{th-sortable field='heeftLidmaatschap.binnenFractie.naam' currentSorting=sort label='Fractie' class="u-visible--tablet-portrait-up"}}
      {{/unless}}
      {{th-sortable field='bekleedt.bestuursfunctie.label' currentSorting=sort label='Mandaat'}}
      {{#unless displaySubset}}
        {{th-sortable field='start' currentSorting=sort label='Start mandaat' class="u-visible--tablet-landscape-up"}}
        {{th-sortable field='einde' currentSorting=sort label='Eind mandaat' class="u-visible--tablet-landscape-up"}}
      {{/unless}}
      <th></th>
    {{/c.header}}
    {{#c.body as |row|}}
      {{#unless displaySubset}}
        <td class="u-hidden-mobile">
          {{#each row.bekleedt.bevatIn as |bestuursorgaan|}}
            {{bestuursorgaan.isTijdsspecialisatieVan.naam}}<br>
          {{/each}}
        </td>
      {{/unless}}
      <td class="u-hidden-mobile">
        {{row.isBestuurlijkeAliasVan.gebruikteVoornaam}}
      </td>
      <td>
        {{row.isBestuurlijkeAliasVan.achternaam}}
      </td>
      {{#unless displaySubset}}
        <td class="u-visible--tablet-portrait-up">
          {{row.heeftLidmaatschap.binnenFractie.naam}}
        </td>
      {{/unless}}
      <td>
        {{row.bekleedt.bestuursfunctie.label}}
      </td>
      {{#unless displaySubset}}
        <td class="u-visible--tablet-landscape-up">{{moment-format row.start 'DD/MM/YYYY'}}</td>
        <td class="u-visible--tablet-landscape-up">{{moment-format row.einde 'DD/MM/YYYY'}}</td>
      {{/unless}}
      <td>{{#link-to editRoute row.isBestuurlijkeAliasVan.id}} Bewerk {{/link-to}}</td>
    {{/c.body}}
  {{/t.content}}
{{/data-table}}
