<div class="col--8-12">
  <p>
    <strong>{{rol}}</strong>
  </p>
</div>
<div class="col--4-12 u-align-right">
  {{#unless isEditing}}
    <a class="button button--small button--narrow u-spacer--bottom--tiny js-accordion__toggle js-accordion-bound" {{action "edit"}}>Pas aan</a>
  {{/unless}}
</div>
<div class="col--12-12">
  <p>
    {{moment-format start 'DD/MM/YYYY'}} —
    {{#if einde}}
      {{moment-format einde 'DD/MM/YYYY'}}
    {{/if}}
  </p>
  <p>{{join ', ' (map-by "label" (await beleidsdomein))}}</p>
  <p>{{status}}</p>
  <p>{{rangorde}}</p>
  <p>{{fractie}}</p>
</div>
