<div class="u-padding--trl--small u-border--light--bottom">
  <div class="grid">
    <div class="col--7-12">
      <h2 class="h3">Voeg mandataris toe uit de lijst van verkozenen</h2>
    </div>
    <div class="col--5-12 u-align--right">
      {{#link-to 'mandatenbeheer.mandatarissen' class="link--icon--close"}}
        <span class="u-visually-hidden">Venster sluiten</span>
      {{/link-to}}
      <p class="small u-align-right u-spacer--top">{{#link-to 'mandatenbeheer.mandatarissen.new-person'}}<button class="button button--narrow button--small button--alt">Voeg iemand buiten de lijst toe</button>{{/link-to}}</p>
    </div>
  </div>
  <div class="u-spacer--bottom--small">
    {{!-- <h3 class="h4 sans-serif u-spacer--bottom--tiny">Zoek een persoon in de lijst</h3> --}}
    <div class="form__row">
      <div class="grid">
        <div class="col--6-12">
          <label for="mandataris-pattern">Zoek voornaam</label>
          <div class="input-field-icon-container--right input-field-icon-container--block">
            {{input class="input-field input-field--block u-spacer--tiny js-js-input-pattern-bound" name="mandataris-pattern" placeholder="Voornaam" value=gebruikteVoornaam key-up=(perform search)}}
            <i class="input-field__icon vi vi-magnifier" aria-hidden="true"></i>
          </div>
        </div>
        <div class="col--6-12">
          <label for="mandataris-pattern">Familienaam</label>
          <div class="input-field-icon-container--right input-field-icon-container--block">
            {{input class="input-field input-field--block u-spacer--tiny js-js-input-pattern-bound" name="mandataris-pattern" placeholder="Familienaam" value=achternaam key-up=(perform search)}}
            <i class="input-field__icon vi vi-magnifier" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <label for="mandataris-pattern">Zoek rijksregisternummer <span class="text-fade small">(optioneel)</span></label>
      <div class="input-field-icon-container--right input-field-icon-container--block">
        {{input class="input-field input-field--block u-spacer--tiny js-js-input-pattern-bound" name="mandataris-pattern" placeholder="Rijksregisternummer" value=identificator key-up=(perform search)}}
        <i class="input-field__icon vi vi-magnifier" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>
<div class="container-flex--scroll u-padding--round--small u-position--relative">
  {{#if error}}
    {{wu-alert message="Fout bij het zoeken, gelieve opnieuw te proberen" onClick=(action 'toggleError') isError=error button="OK"}}
  {{/if}}

  {{#unless hasSearched}}
  <div class="mandate-new-info">
    <p class="text-fade u-spacer--round--tiny">Zoek een persoon uit de lijst van verkozenen op naam of op rijksregisternummer,<br>of {{#link-to 'mandatenbeheer.mandatarissen.new-person'}}voeg een nieuwe persoon toe{{/link-to}} buiten de lijst.</p>
  </div>
  {{/unless}}

  {{#if noResultsAfterSearch}}
    <div class="mandate-new-unexisting-step-1">
      <h2 class="h4 u-spacer">De zoektermen "{{searchTerms}}" leverden geen resultaten&nbsp;op.</h2>
      <p>Zorg dat de naam en/of het rijksregisternummer correct is of
        {{#link-to 'mandatenbeheer.mandatarissen.new-person'}}voeg een nieuwe persoon toe{{/link-to}} buiten de lijst.
        <!-- .toggle-mandate-new-unexisting-step-1-->
      </p>
    </div>
  {{/if}}
  {{#if isQuerying}}
    <div class="loader-wrapper">
      <div class="loader"> </div>
    </div>
  {{else}}
    <div class="mandate-new-found">
      {{#each personen as |persoon|}}
        {{mandatenbeheer/persoon-search-result
          persoon=persoon
          onSelect=(action "selectPersoon")
          class="u-border--light--bottom u-padding--tb--small"
        }}
      {{/each}}

      {{#if personen}}
        {{mandatenbeheer/persoon-search-form-pagination
          page=page
          size=pageSize
          nbOfItems=personen.length
          total=personen.meta.count
          links=personen.meta.pagination
          onSelectPage=(action "selectPage")
        }}
      {{/if}}
    </div>
  {{/if}}
</div>
<div class="u-padding--round--small u-border--light--top">
  {{#wu-button class="button button--narrow button--alt" onClick=(action "cancel") }} Annuleer {{/wu-button}}
</div>
