{{title "Administratieve gegevens " model.classificatie.label " " model.naam}}
<div class="col--10-12 col--9-12--m col--1-1--s">
  <div class="container-flex--contain">
    <div class="u-border--light--bottom">
      <div class="u-padding--round--small mandate-edit-table__header">
        <h1 class="h4 u-spacer--tiny">Administratieve gegevens {{model.classificatie.label}} {{model.naam}}</h1>
      </div>
    </div>


    <div class="container-flex--scroll">
      <section class="contact-card contact-card--wide u-spacer--bottom">
        <div class="u-padding--round--small">
          <div class="grid">
            <div class="col--6-12">
              <h2 class="contact-card__title h5 u-spacer--tb--tiny">Contactgegevens</h2>
            </div>
            <div class="col--6-12 u-align-right">
              <div class="button-group u-visible--tablet-portrait-up">
                {{#wu-button class="button--narrow" disabled=saveContactInfo.isRunning onClick=(perform saveContactInfo) isLoading=saveContactInfo.isRunning}}Contactgegevens opslaan{{/wu-button}}
              </div>
            </div>
            <div class="col--12-12">
              {{#if contactErrorMessage}}
                {{wu-alert title="Fout bij opslaan" message=contactErrorMessage isWarning=true}}
              {{/if}}
            </div>
          </div>

          <div class="u-background--gray-lighter u-padding--round--small">
            <div class="grid">
              <div class="col--5-12 col--12-12--m col--12-12--s">
                <div class="u-spacer">
                  <div class="form__row">
                    <div class="form__label">
                      <label class="form__label">Straat en huisnummer </label>
                    </div>
                    <div class="form__input">
                      {{input disabled=saveContactInfo.isRunning class="input-field" placeholder="Nieuwstraat 123" value=(mut model.primaireSite.vestigingsadres.adres)}}
                    </div>
                  </div>
                  <div class="form__row">
                    <div class="grid">
                      <div class="col--8-12 col--12-12--s col--6-12--m">
                        <div class="form__label">
                          <label class="form__label">Gemeente </label>
                        </div>
                        <div class="form__input">
                          {{input disabled=saveContactInfo.isRunning class="input-field input-field--block" placeholder="Antwerpen" value=(mut model.primaireSite.vestigingsadres.gemeente)}}
                        </div>
                      </div>
                      <div class="col--4-12">
                        <div class="form__label">
                          <label class="form__label">Postcode </label>
                        </div>
                        <div class="form__input">
                          {{input class="input-field" placeholder="2000" value=(mut model.politiezone.contactinfo.firstObject.postcode)}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="u-spacer">
              <div class="grid">
                <div class="col--3-12 col--6-12--m col--12-12--s">
                  <div class="form__row">
                    <div class="form__label">
                      <label class="form__label">Telefoon</label>
                    </div>
                    <div class="form__input">
                      {{input disabled=saveContactInfo.isRunning class="input-field" placeholder="+3234567890" value=(mut model.primaireSite.vestigingsadres.telephone)}}
                    </div>
                  </div>
                </div>

                <div class="col--3-12 col--6-12--m col--12-12--s">
                  <div class="form__row">
                    <div class="form__label">
                      <label class="form__label">Fax</label>
                    </div>
                    <div class="form__input">
                      {{input disabled=saveContactInfo.isRunning class="input-field" placeholder="+3234567890" value=(mut model.primaireSite.vestigingsadres.fax)}}
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="u-spacer">
              <div class="grid">
                <div class="col--3-12 col--6-12--m col--12-12--s">
                  <div class="form__row">
                    <div class="form__label">
                      <label class="form__label">Email</label>
                    </div>
                    <div class="form__input">
                      {{input disabled=saveContactInfo.isRunning class="input-field input-field--block" placeholder="info@gemeente.be" value=(mut model.primaireSite.vestigingsadres.email)}}
                    </div>
                  </div>
                </div>

                <div class="col--3-12 col--6-12--m col--12-12--s">
                  <div class="form__row">
                    <div class="form__label">
                      <label class="form__label">Website</label>
                    </div>
                    <div class="form__input">
                      {{input disabled=saveContactInfo.isRunning class="input-field input-field--block" placeholder="http://www.gemeente.be" value=(mut model.primaireSite.vestigingsadres.website)}}
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="button-group u-hidden--tablet-portrait-up">
              {{#wu-button class="button--block" disabled=saveContactInfo.isRunning onClick=(perform saveContactInfo) isLoading=saveContactInfo.isRunning}}Contactgegevens opslaan{{/wu-button}}
            </div>
          </div>
        </div>
      </section>

      {{#if isGemeente}}


        <section class="contact-card contact-card--wide u-spacer--bottom">
          <div class="u-padding--round--small">
            <div class="grid">
              <div class="col--6-12">
                <h2 class="contact-card__title h5 u-spacer--tb--tiny">Functies</h2>
              </div>
              <div class="col--6-12 u-align-right">
                <div class="button-group u-visible--tablet-portrait-up">
                  {{#wu-button class="button--narrow" onClick=(perform savePositions) isLoading=savePositions.isRunning}}Functies opslaan{{/wu-button}}
                </div>
              </div>
              <div class="col--12-12">
                {{#if positionsErrorMessage}}
                  {{wu-alert title="Fout bij opslaan" message=positionsErrorMessage isWarning=true}}
                {{/if}}
              </div>
            </div>

            <div class="u-background--gray-lighter">
              {{#contact-card as |c|}}
                {{#c.content as |content|}}
                  {{#each sortedPosities as |positie|}}
                    {{#content.row label=positie.rol.label}}
                      {{#each positie.wordtIngevuldDoor as |person|}}
                        <div class="u-spacer--tiny">
                          <div class="grid">
                            <div class="col--3-12 col--12-12--s col--6-12--m">
                              <div class="form__row">
                                <div class="form__label">
                                  <label class="form__label">Voornaam</label>
                                </div>
                                <div class="form__input">
                                  {{input class="input-field input-field--block u-spacer--bottom--tiny" placeholder="Voornaam" value=(mut person.gebruikteVoornaam)}}
                                </div>
                              </div>
                            </div>
                            <div class="col--3-12 col--12-12--s col--6-12--m">
                              <div class="form__row">
                                <div class="form__label">
                                  <label class="form__label">Familienaam</label>
                                </div>
                                <div class="form__input">
                                  {{input class="input-field input-field--block u-spacer--bottom--tiny" placeholder="Familienaam" value=(mut person.achternaam)}}
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      {{/each}}
                    {{/content.row}}
                  {{/each}}
                  <div class="button-group u-hidden--tablet-portrait-up">
                    {{#wu-button class="button--block" onClick=(perform savePositions) isLoading=savePositions.isRunning}}Andere functies opslaan{{/wu-button}}
                  </div>
                {{/c.content}}
              {{/contact-card}}
            </div>
          </div>
        </section>

        <section class="contact-card contact-card--wide u-spacer--bottom">
          <div class="u-padding--round--small">
            <div class="grid">
              <div class="col--6-12">
                <h2 class="contact-card__title h5 u-spacer--tb--tiny">Politiezone</h2>
              </div>
              <div class="col--6-12 u-align-right">
                <div class="button-group u-visible--tablet-portrait-up">
                  {{#wu-button class="button--narrow" onClick=(perform savePolitiezone) isLoading=savePolitiezone.isRunning}}Politiezone opslaan{{/wu-button}}
                </div>
              </div>
              <div class="col--12-12">
                {{#if politiezoneErrorMessage}}
                  {{wu-alert title="Fout bij opslaan" message=politiezoneErrorMessage isWarning=true}}
                {{/if}}
              </div>
            </div>

            <div class="u-background--gray-lighter">

              {{#contact-card as |c|}}
                {{#c.content contactInfo=model.politiezone.contactinfo.firstObject as |content|}}

                  <div class="form__row u-spacer--bottom">
                    <div class="form__input">
                      {{#content.row label="Naam"}}
                        {{input class="input-field" placeholder="Politiezone" value=(mut model.politiezone.naam)}}
                      {{/content.row}}
                    </div>
                  </div>

                  {{#content.row label="Adres"}}

                    <div class="u-spacer">
                      <div class="form__row">
                        <div class="form__label">
                          <label class="form__label">Straat en huisnummer </label>
                        </div>
                        <div class="form__input">
                          {{input class="input-field" placeholder="Nieuwstraat 123" value=(mut model.politiezone.contactinfo.firstObject.adres)}}
                        </div>
                      </div>
                      <div class="form__row">
                        <div class="grid">
                          <div class="col--4-12 col--12-12--s col--6-12--m">
                            <div class="form__label">
                              <label class="form__label">Gemeente </label>
                            </div>
                            <div class="form__input">
                              {{input class="input-field input-field--block" placeholder="Antwerpen" value=(mut model.politiezone.contactinfo.firstObject.gemeente)}}
                            </div>
                          </div>
                          <div class="col--2-12 col--4-12--s col--6-12--m">
                            <div class="form__label">
                              <label class="form__label">Postcode </label>
                            </div>
                            <div class="form__input">
                              {{input class="input-field" placeholder="2000" value=(mut model.politiezone.contactinfo.firstObject.postcode)}}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  {{/content.row}}


                  {{#each model.politiezone.posities as |positie|}}
                    {{#content.row label=positie.rol.label}}
                      {{#each positie.wordtIngevuldDoor as |person|}}
                        <div class="u-spacer--tiny">
                          <div class="grid">
                            <div class="col--3612 col--12-12--s">
                              <div class="form__row">
                                <div class="form__label">
                                  <label class="form__label">Voornaam</label>
                                </div>
                                <div class="form__input">
                                  {{input class="input-field input-field--block u-spacer--bottom--tiny" placeholder="Voornaam" value=(mut person.gebruikteVoornaam)}}
                                </div>
                              </div>
                            </div>
                            <div class="col--3612 col--12-12--s">
                              <div class="form__row">
                                <div class="form__label">
                                  <label class="form__label">Familienaam</label>
                                </div>
                                <div class="form__input">
                                  {{input class="input-field input-field--block u-spacer--bottom--tiny" placeholder="Familienaam" value=(mut person.achternaam)}}
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      {{/each}}
                    {{/content.row}}
                  {{/each}}
                  <div class="button-group u-hidden--tablet-portrait-up">
                    {{#wu-button class="button--block" onClick=(perform savePolitiezone) isLoading=savePolitiezone.isRunning}}Politiezone opslaan{{/wu-button}}
                  </div>
                {{/c.content}}
              {{/contact-card}}
            </div>
          </div>
        </section>
      {{/if}}
    </div>
  </div>
</div>
