{{mandatenbeheer/persoon-mandaten-edit
  class="col--5-12 col--9-12--m col--1-1--s mandate-edit-new container-flex--contain"
  persoon=model.persoon
  bestuursorganen=model.bestuursorganen
  onFinish=(action 'finish')}}
