{{title "Mandatenbeheer " bestuurseenheid.classificatie.label " " bestuurseenheid.naam}}
<div class="col--9-12--m col--1-1--s u-border--light--right {{if hasActiveChildRoute "col--5-12 u-visible--tablet-landscape-up" "col--10-12"}}">
  <div class="container-flex--contain">
    <div class="u-border--light--bottom">
      <div class="u-padding--round--small mandate-edit-table__header">
        <h1 class="h4 u-spacer--tiny">Mandatenbeheer {{bestuurseenheid.classificatie.label}} {{bestuurseenheid.naam}}</h1>
        {{mandatenbeheer/mandatarissen-totals class="js-accordion u-spacer--tb--tiny" bestuursorganen=bestuursorganen}}

        <div class="grid">
          <div class="col--6-12 col--1-1--xs">
            <div class="input-field-icon-container--right input-field-icon-container--block">
              {{input class="input-field input-field--block u-spacer--tiny" value=searchData type="text" placeholder="Zoek mandataris" style="max-width: 100%; width: 100%;" key-up=(perform search)}}
              <i class="input-field__icon vi vi-magnifier" aria-hidden="true"></i>
            </div>
          </div>
          <div class="col--6-12 col--1-1--xs u-align-right--tablet-portrait-up">
            {{wu-button label="Voeg mandataris toe" onClick=(action "handleAddMandatarisClick") isNarrow=true}}
          </div>
        </div>
      </div>
    </div>
    {{mandatenbeheer/mandataris-table class="container-flex--contain" content=model isLoading=isLoadingModel sort=sort page=page size=size editRoute="mandatenbeheer.mandatarissen.edit" displaySubset=hasActiveChildRoute}}
  </div>
</div>
{{outlet}}
