{{toezicht/inzending-edit-header inzending=inzending isNew=isNew onClose=(action "close")}}
{{#if isWorking}}
  <div class="loader-wrapper">
    <div class="loader">
      <span class="u-visually-hidden">Bezig...</span>
    </div>
  </div>
{{/if}}

{{#if deleteModal}}{{toezicht/inzending-delete-modal onCancel=(action "cancelDelete") onConfirm=(action "confirmDelete")}} {{/if}}
{{#if hasError}}
  {{wu-alert message=errorMsg isError=true}}
{{/if}}

<div class="container-flex--scroll u-padding--round--small {{if isWorking "u-hidden"}}">
  {{root-form-node solution=model onDynamicFormInit=(action "initDynamicForm") show=model.inzendingVoorToezicht.status.isVerstuurd}}
  {{#if model.inzendingVoorToezicht.besluitType.id}}
  <div class="form__row">
    <div class="u-spacer"></div>
    <label class="form__label">Bestanden</label>
    {{#each files as |file|}}
      {{vo-mu-file-card file=file onDelete=(action "deleteFile") active=model.inzendingVoorToezicht.status.isConcept}}
    {{/each}}
    {{#unless model.inzendingVoorToezicht.status.isVerstuurd}}
      {{vo-mu-file-dropzone onFinishUpload=(action "addFile") class="is-required" maxFileSizeMB=1024}}
    {{/unless}}
  </div>
  {{/if}}
</div>

{{#unless isWorking}}
  <!-- TODO: move this to seperate create/edit/view templates  -->
  <div class="u-padding--round--small u-border--light--top">
    {{#if canSend}}
      {{#wu-link-button class="button delete-me-toggle-new u-spacer--tiny" onClick=(action "send")}}Verstuur
        <span class="button__info button__info--below">naar Vlaamse Overheid</span>
      {{/wu-link-button}}
    {{else}}
      {{#unless isSent}}
        {{#wu-link-button class="button button--disabled delete-me-toggle-concept u-spacer--tiny" onClick=(action "send")}}Verstuur
          <span class="button__info button__info--below">naar Vlaamse Overheid</span>
        {{/wu-link-button}}
      {{/unless}}
    {{/if}}

    {{#if isNew}}
      {{wu-link-button label="Bewaar" isNarrow=true isAlt=true onClick=(action "create") class="button button--narrow button--alt"}}
    {{else}}
      {{#if canSave}}
        {{wu-link-button label="Bewaar" isNarrow=true isAlt=true onClick=(action "save") class="button button--narrow button--alt"}}
      {{/if}}
    {{/if}}

    {{#if canDelete}}
      {{#wu-link-button
         class="button button--narrow button--alt button--alt--warning delete-me-toggle-concept delete-me-toggle-modal-delete-concept"
         isNarrow=true isAlt=true onClick=(action "deleteInzending")
      }}
        Verwijder
      {{/wu-link-button}}
    {{/if}}

    {{#if isNew}}
      {{#link-to "toezicht.inzendingen.index" class="button button--narrow button--alt delete-me-toggle-new"}}Annuleer{{/link-to}}
    {{else}}
      {{#link-to "toezicht.inzendingen.index" class="button button--narrow button--alt delete-me-toggle-new"}}Sluit{{/link-to}}
    {{/if}}
  </div>
{{/unless}}
