{{#data-table content=content isLoading=isLoading noDataMessage="Geen inzendingen gevonden"
   sort=sort page=page size=size class="container-flex--contain data-table data-table--tight data-table--nowrap" as |t|}}
  {{#t.content as |c|}}
    {{#c.header}}
      {{#unless displaySubset}}
        {{th-sortable label='Orgaan' field='decidedBy.label' currentSorting=sort class="u-visible--tablet-landscape-up"}}
      {{/unless}}
      {{th-sortable label='Type dossier' field='besluitType.label' currentSorting=sort class="u-visible--tablet-landscape-up"}}
      {{#unless displaySubset}}
        {{th-sortable label='Dossieromschrijving' field='description' currentSorting=sort class="u-visible--tablet-landscape-up"}}
      {{/unless}}
      {{#unless displaySubset}}
        {{th-sortable label='Datum zitting/besluit' field='modified' currentSorting=sort class="u-visible--tablet-landscape-up"}}
      {{/unless}}
      {{th-sortable label='Status' field='status' currentSorting=sort class="u-visible--tablet-landscape-up"}}
      <th><!-- Actions --></th>
    {{/c.header}}
    {{#c.body as |row|}}
      {{#unless displaySubset}}
        <td class="u-visible--tablet-landscape-up">{{row.bestuursorgaan.naam}}</td>
      {{/unless}}
      <td>{{row.besluitType.label}}</td>
      {{#unless displaySubset}}
        <td>{{row.description}}</td>
      {{/unless}}
      {{#unless displaySubset}}
        <td class="u-visible--tablet-landscape-up">{{moment-format row.sessionDate 'DD-MM-YYYY'}}</td>
      {{/unless}}
      <td class="u-hidden-mobile">
        {{shared/document-status-pill row.status}}
      </td>
      <td>{{#link-to 'toezicht.inzendingen.edit' row.id }}Bekijk{{/link-to}}</td>
    {{/c.body}}
  {{/t.content}}
{{/data-table}}
