<table class="data-table data-table--tight u-spacer--tb--small">
  <thead>
    <tr>
      <th>Bedrag</th>
      <th>Eenheid</th>
      <th>Basis</th>
      <th>Commentaar</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    {{#each taxRates as |taxRate|}}
      <tr>
        <td>
          {{input
            class="input-field input-field--block input-field--small"
            value=taxRate.amount
            onchange=(mut taxRate.amount)
            placeholder="Bedrag"
          }}
        </td>
        <td>
          {{input
            class="input-field input-field--block input-field--small"
            value=taxRate.unit
            onchange=(mut taxRate.unit)
            placeholder="Eenheid"
          }}
        </td>
        <td>
          {{input
            class="input-field input-field--block input-field--small"
            value=taxRate.base
            onchange=(mut taxRate.base)
            placeholder="Basis"
          }}
        </td>
        <td>
          {{input
            class="input-field input-field--block input-field--small"
            value=taxRate.remark
            onchange=(mut taxRate.remark)
            placeholder="Commentaar"
          }}
        </td>
        <td>
          <a class="toggle js-accordion__toggle small link--icon u-spacer--bottom--small js-accordion-bound" {{action "delete" taxRate}}>
            Verwijder
          </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
<a class="toggle js-accordion__toggle small link--icon u-spacer--bottom--small js-accordion-bound" {{action "create"}}>
  <i class="vi vi-plus" aria-hidden="true"></i>Voeg aanslagvoet toe
</a>
