{{bbcdr/report-edit-header report=report isNewReport=isNewReport onClose=(action "clickCloseCross")}}

<div class="container-flex--scroll u-padding--round--small">
  <div class="form__row">
    <div class="form__label">
      <label for="bestanden">Upload één XML en één XBRLfile</label>
    </div>
    {{#each reportFiles as |file|}}
      {{vo-mu-file-card file=file onDelete=(action "deleteFile") active=(not report.status.isVerstuurd) }}
    {{/each}}
    {{#if enableUpload}}
      {{vo-mu-file-dropzone onFinishUpload=(action "addFile") accept=".xbrl,.xml" maxFileSizeMB=1024}}
    {{/if}}
  </div>
  {{#if showError}}
    {{wu-alert message="Er is een fout opgetreden tijdens het opslaan, gelieve opnieuw te proberen of de systeembeheerder te contacteren." isError=true}}
  {{/if}}
</div>

<div class="u-padding--round--small u-border--light--top">
  {{#unless isNewReport}}
    {{#if report.status.isConcept}}
      {{#wu-link-button disabled=(not readyToSend) onClick=(action "send") class="u-spacer--tiny"}}Verstuur
        <span class="button__info button__info--below">naar Vlaamse Overheid</span>
      {{/wu-link-button}}
      {{wu-link-button label="Bewaar" isNarrow=true isAlt=true onClick=(action "tempSave")}}
      {{wu-link-button label="Verwijder" isNarrow=true isAlt=true onClick=(action "deleteReport") class="button--alt--warning"}}
    {{/if}}
    {{#link-to 'bbcdr.rapporten.index' class="button button--narrow button--alt"}}Sluit{{/link-to}}
  {{else}}
    {{#wu-link-button disabled=(not readyToSend) onClick=(action "send") class="u-spacer--tiny"}}Verstuur
      <span class="button__info button__info--below">naar Vlaamse Overheid</span>
    {{/wu-link-button}}
    {{wu-link-button disabled=(not readyForTmpSave) label="Bewaar concept" isNarrow=true isAlt=true onClick=(action "tempSave")}}
    {{wu-link-button label="Annuleer" isNarrow=true isAlt=true onClick=(action "deleteReport")}}
  {{/unless}}
</div>

{{#if showExitModal}}
  {{bbcdr/report-edit-exit-modal
    onCancel=(action "cancelModal")
    onSave=(action "saveAndExitModal")
    onDiscard=(action "discardAndExitModal")
  }}
{{/if}}
