{{#data-table content=content isLoading=isLoading noDataMessage="Geen rapporten gevonden"
     sort=sort page=page size=size class="container-flex--contain bbcdr-reports-data-table" as |t|}}
  {{#t.content as |c|}}
    {{#c.header}}
      <th>Rapport</th>
      {{#unless displaySubset}}
        {{th-sortable label='Gewijzigd door' field='lastModifier.achternaam' currentSorting=sort class="u-visible--tablet-landscape-up"}}
        {{th-sortable label='Bewerkt op' field='modified' currentSorting=sort class="u-visible--tablet-landscape-up"}}
      {{/unless}}
      {{th-sortable label='Status' field='status.label' currentSorting=sort class="u-hidden-mobile"}}
      <th><!-- Actions --></th>
    {{/c.header}}
    {{#c.body as |row|}}
      <td>
        {{#each row.files as |file|}}
          {{wu-document-miniature isTiny=true class="switch-text-overflow-ellipsis"
              type=(uppercase file.extension) label=file.filename metadata=file.miniatureMetadata}}
        {{else}}
          Geen bestanden
        {{/each}}
      </td>
      {{#unless displaySubset}}
        <td class="u-visible--tablet-landscape-up">{{row.lastModifier.fullName}}</td>
        <td class="u-visible--tablet-landscape-up">{{moment-format row.modified 'DD-MM-YYYY'}}</td>
      {{/unless}}
      <td class="u-hidden-mobile">
        {{shared/document-status-pill row.status}}
      </td>
      <td>{{#link-to 'bbcdr.rapporten.edit' row}}Bekijk{{/link-to}}</td>
    {{/c.body}}
  {{/t.content}}
{{/data-table}}
