{{title "Toezicht " bestuurseenheid.classificatie.label " " bestuurseenheid.naam}}
<div class="col--12-12--s u-border--light--right {{if hasActiveChildRoute "col--5-12 u-visible--tablet-landscape-up" " col--10-12 col--9-12--m"}}">
  <div class="container-flex--contain">
    <div class="u-border--light--bottom">
      <div class="u-padding--round--small mandate-edit-table__header">
        <h1 class="h4 u-spacer--tiny">Toezicht {{bestuurseenheid.classificatie.label}} {{bestuurseenheid.naam}}</h1>
        <div class="js-accordion u-visible-mobile">
          <!-- toggle-->
          <a class="toggle toggle--arrow-down js-accordion__toggle js-accordion-bound">
            <i class="toggle__icon" aria-hidden="true"></i>Toon acties</a>
          <div class="accordion__content u-spacer--top--tiny">
            <div class="input-field-icon-container--right u-spacer--bottom--tiny">
            </div>
            {{wu-button label="Nieuw dossier" onClick=(action "handleAddClick") isNarrow=true}}
          </div>
        </div>
        <div class="grid u-hidden-mobile">
          <div class="col--6-12 col--12-12--s">
            <div class="input-field-icon-container--right u-spacer--bottom--tiny">
              <!-- search -->
            </div>
          </div>
          <div class="col--6-12 col--12-12--s u-align-right--tablet-portrait-up">
            {{wu-button label="Lever nieuw dossier aan" onClick=(action "handleAddClick") isNarrow=true}}
          </div>
        </div>
      </div>
    </div>
    {{toezicht/inzendingen-table class="container-flex--contain" content=model sort=sort page=page size=size displaySubset=hasActiveChildRoute}}

  </div>
</div>

{{outlet}}
