{{head-layout}}
<div class="container">
  {{wu-widget src=header class="vo-header-widget"}}
  {{#if session.isAuthenticated}}
    <div class="container-flex--contain">
      <div class="grid grid--collapse">
        <div class="col--2-12 col--3-12--m u-hidden--s">
          <div class="container-flex--contain">
            <div class="sidebar">
              <div class="sidebar__content">
                <nav class="side-navigation">
                  <div class="side-navigation__content">
                    <ul class="side-navigation__group">
                      {{#if currentSession.canAccessToezicht}}
                        <li class="side-navigation__item">
                          {{#link-to "toezicht.inzendingen"}}Toezicht{{/link-to}}
                        </li>
                      {{/if}}
                      {{#if currentSession.canAccessBbcdr}}
                        <li class="side-navigation__item">
                          {{#link-to "bbcdr.rapporten"}}BBC DR{{/link-to}}
                        </li>
                      {{/if}}
                      {{#if currentSession.canAccessMandaat}}
                        <li class="side-navigation__item">
                          {{#link-to "mandatenbeheer.mandatarissen"}}Mandatenbeheer{{/link-to}}
                        </li>
                        <!-- Disable administratieve gegevens
                             <li class="side-navigation__item">
                             {{#link-to "administratieve-gegevens.index"}}Administratieve<br>gegevens{{/link-to}}
                             </li>
                           -->
                      {{/if}}
                      {{#if currentSession.canAccessBerichtencentrum}}
                        <li class="side-navigation__item">
                          {{#link-to "berichtencentrum.berichten"}}Berichtencentrum{{/link-to}}
                        </li>
                      {{/if}}
                    </ul>
                  </div>
                </nav>
              </div>
              <div class="sidebar__footer">
                {{acmidm-logout class="button button--alt button--block"}}
              </div>
            </div>
          </div>
        </div>
        {{outlet}}
      </div>
    </div>
  {{else}}
    {{outlet}}
  {{/if}}
</div>
