<div class="container-flex--scroll">
  <div class="u-padding--round">
    <h1 class="h1">{{currentSession._group.classificatie.label}} {{currentSession._group.naam}}</h1>
    <h2 class="h4 u-spacer">U heeft toegang tot volgende onderdelen</h2>
    <div class="grid grid--is-stacked u-spacer">
      {{#if currentSession.canAccessToezicht}}
        <div class="col--6-12 col--3-12--xl col--6-12--l col--6-12--m col--6-12--s col--1-1--xs">
          <div class="info-tile info-tile--m info-tile--center info-tile--v-center">
            <div>
              <div class="info-tile__header">
                <div class="info-tile__header__icon badge badge--accent badge--l badge--icon">
                  <i class="badge__icon vi vi-book" aria-hidden="true"></i>
                </div>
                <div class="info-tile__header__wrapper">
                  <h3 class="info-tile__header__title">Toezicht</h3>
                </div>
              </div>
              <div class="info-tile__content">
                <p>Bezorg besluiten en overzichtslijsten elektronisch aan de toezichthoudende overheid.</p>
              </div>
              <footer class="info-tile__footer">
                <p class="u-spacer--tiny">
                  {{wu-button class="button--narrow" label="Ga naar toezicht" onClick=(action "goToToezicht")}}
                </p>
                <p>
                  <a class="button button--small button--link button--link--dark" href="https://lokaalbestuur.vlaanderen.be/mijn-binnenland" target="_blank">Meer informatie</a>
                  <a class="button button--small button--link button--link--dark" href="https://loket.lokaalbestuur.vlaanderen.be/handleiding/#toezicht" target="_blank">Handleiding</a>
                </p>
              </footer>
            </div>
          </div>
        </div>
      {{/if}}
      {{#if currentSession.canAccessBbcdr}}
        <div class="col--6-12 col--3-12--xl col--6-12--l col--6-12--m col--6-12--s col--1-1--xs">
          <div class="info-tile info-tile--m info-tile--center info-tile--v-center">
            <div>
              <div class="info-tile__header">
                <div class="info-tile__header__icon badge badge--accent badge--l badge--icon">
                  <i class="badge__icon vi vi-paperclip" aria-hidden="true"></i>
                </div>
                <div class="info-tile__header__wrapper">
                  <h3 class="info-tile__header__title">BBC-DR</h3>
                </div>
              </div>
              <div class="info-tile__content">
                <p>Bezorg de digitale rapporten aan de Vlaamse Regering over de beleids- en beheerscyclus (BBC).</p>
              </div>
              <footer class="info-tile__footer">
                <p class="u-spacer--tiny">
                  {{wu-button class="button--narrow" label="Ga naar BBC DR" onClick=(action "goToBbcdr")}}
                </p>
                <p>
                  <a class="button button--small button--link button--link--dark" href="https://lokaalbestuur.vlaanderen.be/bbc-strategisch-en-financieel-beleid/digitale-rapportering" target="_blank">Meer informatie</a>
                  <a class="button button--small button--link button--link--dark" href="https://loket.lokaalbestuur.vlaanderen.be/handleiding/#bbcdr" target="_blank">Handleiding</a>
                </p>
              </footer>
            </div>
          </div>
        </div>
      {{/if}}

      {{#if currentSession.canAccessMandaat}}
      <div class="col--6-12 col--3-12--xl col--6-12--l col--6-12--m col--6-12--s col--1-1--xs">
        <div class="info-tile info-tile--m info-tile--center info-tile--v-center">
          <div>
            <div class="info-tile__header">
              <div class="info-tile__header__icon badge badge--accent badge--l badge--icon">
                <i class="badge__icon vi vi-addressbook" aria-hidden="true"></i>
              </div>
              <div class="info-tile__header__wrapper">
                <h3 class="info-tile__header__title">Mandatenbeheer</h3>
              </div>
            </div>
            <div class="info-tile__content">
              <p>Hou de mandaten binnen de gemeenten, OCMW’s, districten en provincies bij.</p>
            </div>
            <footer class="info-tile__footer">
              <p class="u-spacer--tiny">
                {{wu-button class="button--narrow" label="Ga naar mandatenbeheer" onClick=(action "goToMandatenbeheer")}}
              </p>
              <p>
                <a class="button button--small button--link button--link--dark" href="https://lokaalbestuur.vlaanderen.be/mandatarissen/mandatendatabank" target="_blank">Meer informatie</a>
                <a class="button button--small button--link button--link--dark" href="https://loket.lokaalbestuur.vlaanderen.be/handleiding/#toezicht" target="_blank">Handleiding</a>
              </p>
            </footer>
          </div>
        </div>
      </div>
      <!-- disable administratieve gegevens
           <div class="col--6-12 col--3-12--xl col--6-12--l col--6-12--m col--6-12--s col--1-1--xs">
           <div class="info-tile info-tile--m info-tile--center info-tile--v-center">
           <div>
           <div class="info-tile__header">
           <div class="info-tile__header__icon badge badge--accent badge--l badge--icon">
           <i class="badge__icon vi vi-info" aria-hidden="true"></i>
           </div>
           <div class="info-tile__header__wrapper">
           <h3 class="info-tile__header__title">Administratieve gegevens</h3>
           </div>
           </div>
           <div class="info-tile__content">
           <p>Beheer de adminstratieve gegevens over het bestuur en het personeel binnen de gemeenten, OCMW’s, districten en provincies.</p>
           </div>
           <footer class="info-tile__footer">
           <p class="u-spacer--tiny">
           {{wu-button class="button--narrow" label="Ga naar administratieve gegevens" onClick=(action "goToAdministratievegegevens")}}
           </p>
           <p>
           <a class="button button--small button--link button--link--dark" href="https://loket.lokaalbestuur.vlaanderen.be/handleiding/#adminstratievegegevens" target="_blank">Handleiding</a>
           </p>
           </footer>
           </div>
           </div>
           </div> -->
      {{/if}}
    </div>
    <div class="grid">
      <div class="col--10-12 col--6-12--xl col--8-12--l col--10-12--m col--10-12--s col--1-1--xs">
        <p>Indien u toegang mist tot een van de onderdelen in het loket, neem contact op met uw interne beheerder. Indien u toegang heeft gekregen, maar er zich een probleem voordoet, neem contact op met het <a href="https://overheid.vlaanderen.be/ict/ict-diensten/gebruikersbeheer">gebruikersbeheer Vlaanderen</a>.</p>
      </div>
    </div>
  </div>
</div>
